//! {{project_name}} — a MuduDB application.

#![warn(missing_docs)]
#![allow(dead_code)]
#![deny(clippy::unwrap_used)]
#![deny(clippy::expect_used)]
#![deny(clippy::dbg_macro)]
#![warn(clippy::panic)]
#![warn(clippy::todo)]
#![warn(clippy::unimplemented)]

#[allow(unused)]
#[cfg(target_arch = "x86_64")]
pub mod rust;

#[allow(unused, missing_docs)]
#[cfg(target_arch = "wasm32")]
pub mod generated;
