{
  "targets": {
    "release": {
      "outFile": "build/as/procedures.core.wasm",
      "textFile": "build/as/procedures.core.wat",
      "sourceMap": false,
      "optimizeLevel": 3,
      "shrinkLevel": 0,
      "converge": false,
      "noAssert": false
    }
  },
  "options": {
    "bindings": "esm"
  }
}
