//! Hand-written Rust implementation of the {{project_name}} entities and procedures.
#![allow(missing_docs, clippy::unwrap_used, clippy::expect_used, clippy::panic)]

pub mod items;
pub(crate) mod procedures;
